#kaffee-hus {
  height: 900px;
  width: 100vw;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#kaffee-hus iframe {
  width: 954px;
  height: 580px;
  border-radius: 20px;
}
