#kaffee-hus {
  height: 900px;
  width: 100vw;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#kaffee-hus iframe {
  width: 954px;
  height: 580px;
  border-radius: 20px;
}

@media (max-width: 1500px) {
  #kaffee-hus iframe {
    width: 754px;
    height: 480px;
  }

  #kaffee-hus {
    height: 750px;
    width: 100vw;
  }
}
