@font-face {
  font-family: "MerriweatherSans";
  src: url(../font/MerriweatherSans-ExtraBold.ttf);
}

@font-face {
  font-family: "MerriweatherSansBold";
  src: url(../font/MerriweatherSans-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "MerriweatherSans";
  overflow-x: hidden;
}

.low-shadow {
  -webkit-box-shadow: 11px 17px 39px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 11px 17px 39px 0px rgba(0, 0, 0, 0.3);
}

.text-shadow {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 40px;
}

p {
  font-size: 23px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

section {
  position: relative;
}
