#impressum {
  color: white;
  position: relative;
  height: 300px;
  width: 100vw;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textblock-right {
  position: absolute;
  right: 0;
  width: 380px;
  text-align: center;
}

.textblock-left {
  position: absolute;
  left: 0;
  width: 380px;
  text-align: center;
}

.textblocks {
  display: flex;
}

.signature {
  font-size: 15px;
  position: absolute;
  bottom: 15px;
}

.signature a {
  color: white;
}
