#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.7rem;

  width: 100%;
  height: auto;
  padding: 7rem 0 7rem 0;
}

.workcard {
  display: flex;
  justify-content: center;
  gap: 0.58rem;

  width: 35.41rem;
  height: 21.82rem;
  border-radius: 25px;
  overflow: hidden;
}

.workcard:hover {
  cursor: pointer;
}

.workcard img {
  width: 14.23rem;
  /* height: 18.64rem; */
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease;
}

.workcard:first-child:hover img:first-child {
  margin-top: 8.82rem;
  object-position: top;
}

.workcard:last-child:hover img:last-child {
  margin-top: -8.82rem;
  object-position: bottom;
}

.workcard:first-child img:first-child {
  margin-top: 2.94rem;
  object-position: top;
}

.workcard:last-child img:last-child {
  margin-top: -2.94rem;
  object-position: bottom;
}

@media (max-width: 768px) {
  #work {
    /* width: 100vw; */
    justify-content: center;
  }

  .workcard {
    width: 90vw;
    height: calc(90vw - 10rem);
  }

  .workcard img {
    width: 42%;
  }

  .workcard:first-child:hover img:first-child {
    margin-top: 4.82rem;
  }

  .workcard:last-child:hover img:last-child {
    margin-top: -4.82rem;
  }
}
