#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 70dvh;
  padding: 7rem 0 7rem 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  position: relative;
  width: 40.52rem;
  height: 25.88rem;
  border-radius: 1.47rem;
  background: var(--text-color);
}

.about-img {
  position: absolute;
  top: calc(-12.58rem / 2);
  height: 12.58rem;
  width: 12.58rem;
  border-radius: 100rem;
}

.about-text {
  text-align: center;
  color: var(--background);
  padding: 0 4.9rem;
  margin-top: 0.7rem;
}

.about-button {
  position: absolute;
  bottom: 4.64rem;
}

@media (max-width: 768px) {
  .about-wrapper {
    width: 95vw;
    height: 20.88rem;
  }

  .about-text {
    padding: 0 2.5rem;
    font-size: 1.5rem;
  }

  .about-button {
    position: absolute;
    bottom: 15%;
  }
}
